@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Prompt", sans-serif;

    /* width: 100vw; */
}

#main {
    height: 60%;
    width: 30%;
    background-color: bisque;
    border-radius: 50px;
    border: none;
    padding: 30px 55px;
    margin: auto;
    box-shadow: 1px 1px 1px black;
}

input {
    border-radius: 10px;
    padding-top: 15px;
    padding: 15px 30px 15px 15px;
    margin-left: 5px;
    border: 1px solid beige;
}
input:focus {
    /* border-color: beige; */
    outline: 2px solid bisque;
}

.height {
    margin-top: 20px;
}

button {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 12px;
    background: greenyellow;
    color: indigo;
    font-size: 18px;
    border: none;
}

.index {
    margin-top: 30px;
}